

body,html {padding:0;scroll-behavior: smooth;  }
*{
  box-sizing: border-box;
}

body {
    font-family: 'Karla', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
       margin: 0px;
    padding: 0px;
    /*background: url('pi1.png');*/
  }

.navbar {
    overflow: hidden;
    background-color: #333;
    position:fixed;
    height: 70px;
    top: 0;
    width: 100%;
  }

  .logo{
  
    float: left;
    color: #f2f2f2;
    padding-left: 1rem;
    padding-top: 0.8rem;
  }
  .logoname{
    float: right;
    
  }

.finger{
  height: 2.8rem;
}

  .login-container button {
    float: right;
    padding: 10px;
    padding-top: 10px;
    margin-top: 15px;
    margin-right: 16px;
    background: rgb(127, 147, 236);
    font-size: 17px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .login-container button:hover {
    background:  #ddd;
  }

  .adj{
    
    background: rgb(2,0,36);
background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(0,138,255,1) 0%, rgba(22,46,105,1) 87%);


}
  .center{
      text-align: center;
      padding: 60px 20px;
      font-weight: bold;
      color: #000;;
      font-size: 90px;
      text-shadow: 0 0 10px  rgb(91, 141, 214);
      
     
  
  }
  .info{
      color: #000;
      text-align: center;
      padding-left: 5rem;
      padding-right: 5rem;
      padding-bottom: 5rem;
  }

  /*
.background{
  background-image: url('1.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
}*/

  .about{
    text-decoration: underline #45a1ff ;
     padding-left: 2.5rem;
      color: #000;
      font-size: 2rem;
      
      
  }


  .flex{
     display: flex;
  align-items: center;
  justify-content: space-around;
  flex-flow: row wrap;  


  }

.item{

width: 150px;
 
}
a{
  text-decoration: none;
  color: #000;
}
p{
  font-size: 20px;
}

  .card{
    text-align: center;
    justify-content: center;
    background-color: rgb(221, 221, 221);
    border-radius: 15px 15px 0px 15px;
    padding: 20px;
    margin-bottom: 30px;
 
   /* clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
    clip-path: circle(50% at 50% 50%);
       border-right: 4px solid  rgb(91, 141, 214);
  */
  }
.card:hover{

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}


.card-head{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;

 border-radius: 10px;
  background-repeat: no-repeat;
  height: 5rem;

}

 .flex2{
 
   display: flex;

   justify-content: space-around;
   flex-flow: row wrap; 
  
 }
  .intro{
    
    width: 40%;
   
  }
  .intro-card{
 
    background-color: #ddd;
    border-radius: 0px 45px 0px 45px;
    padding: 2rem;
   
    margin: 2.5rem 0rem;

  }

  footer {
    display: flex;
    justify-content: left;
    padding: 5px;
    background-color: rgb(51 51 51);
    color: #fff;
}

.media{
  position: absolute;
  right: 10px;
  margin-top: 1rem;
}
.media-logo{
  background-repeat: no-repeat;
  height: 2rem;
  width: auto;
}





/*
#grad1 {
    height: 200px;
    background-color: red; /* For browsers that do not support gradients 
    background-image: linear-gradient(red, yellow);
  }*/


  @media screen and (max-width: 500px){
    .info{ font-size: 16px; padding: 0rem 2rem 3rem 2rem; margin: 0; text-align: center;}
  }
  @media screen and (max-width: 400px){
    .info{ font-size: 13px; padding-bottom: 2rem; margin: 0; text-align: center;}
  }
  @media screen and (max-width: 530px){
    .center{ font-size: 3rem; margin: 15px 2px;  text-align: center;}
  }
  @media screen and (max-width: 400px){
    .center{ font-size: 2.2rem; margin: 35px 2px;  text-align: center;}
  }


 
  @media screen and (max-width: 310px){
    .item{ width: 60%;}
  }
  @media screen and (max-width: 680px){
    .intro{ width: 80% ;}
  }





  @media screen and (max-width: 350px){
    .about{ padding: 1rem; font-size: 1.5rem;}
  }


  @media screen and (max-width: 400px){
    .intro-card >p{ font-size: 14px;}
  }
  @media screen and (max-width: 400px){
    p{ font-size: 15px;}
  }
  @media screen and (max-width: 500px){
    .media-logo{ height: 1.2rem;}
  }


 /* @media screen and (max-width: 400px){
    .finbtn{ width: 10%;}
  }

  @media screen and (max-width: 500px){
    .finbtn{ width: 8%;}
  }*/