

body,html {padding:0;scroll-behavior: smooth;  }

body {
    font-family: 'Karla', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    background-color: #333;
   
    margin: 0px;
    padding: 0px;
    /*background: url('abc.png');*/
  }

.navbar {
    overflow: hidden;
    background-color: #333;
    position:fixed;
    height: 70px;
    top: 0;
    width: 100%;
  }

  .logo{
  
    float: left;
    color: #f2f2f2;
    padding-left: 20px;
    padding-top: 5px;
  }
  .logoname{
    float: right;
    
  }
  .login-container button {
    float: right;
    padding: 10px;
    padding-top: 10px;
    margin-top: 15px;
    margin-right: 16px;
    background: rgb(127, 147, 236);
    font-size: 17px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .login-container button:hover {
    background:  #ddd;
  }
  .center{
      text-align: center;
      padding: 60px 20px;
      font-weight: bold;
      color: #333;;
      font-size: 90px;
      text-shadow: 0 0 10px  rgb(91, 141, 214);
     
  
  }
  .info{
      color: #f2f2f2;
      text-align: center;
      margin: 0px 100px;
  }
  .finbtn{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 5%;
  }

  #clickfinger{
      color: #f2f2f2;
      text-align: center;
      padding-top: 20px;
      text-shadow: 0 0 8px  rgb(91, 141, 214);
  }
  .about{
      color: #f2f2f2;
      
  }
  
  .fingabout{
      text-align: center;
      font-size: 40px;
      color: #f2f2f2;
      margin-top: 30px;
  }
.para1{
    background-color:  rgb(91, 141, 214);
    height: auto;
    width: 500px;
    padding: 20px 40px;
    margin: 40px;
    float: left;
    border-radius: 8px;
}

.para2{
    background-color: rgb(91, 141, 214);
    height: auto;
    width: 500px;
    padding: 20px 40px;
    margin: 40px;
    float: right;
    border-radius: 8px;
    
}
/*
#grad1 {
    height: 200px;
    background-color: red; /* For browsers that do not support gradients 
    background-image: linear-gradient(red, yellow);
  }*/


  @media screen and (max-width: 500px){
    .info{ font-size: 17px; padding-left: 20px; margin: 0; text-align: center;}
  }
  @media screen and (max-width: 400px){
    .info{ font-size: 15px; padding: 0px 10px; margin: 0; text-align: center;}
  }
  @media screen and (max-width: 500px){
    .center{ font-size: 40px; margin: 10px 10px;  text-align: center;}
  }



  @media screen and (max-width: 500px){
    .fingabout{ font-size: 40px; margin: 10px 10px;  text-align: center;}
  }
  @media screen and (max-width: 660px){
    .para1{ float: none; width: auto;}
  }
  @media screen and (max-width: 660px){
    .para2{ float: none; width: auto;}
  }



  @media screen and (max-width: 400px){
    .finbtn{ width: 10%;}
  }

  @media screen and (max-width: 500px){
    .finbtn{ width: 8%;}
  }